{% load static %}

<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>

<body>

    {% include 'components/navbar.html' %}

    <h1>TESTE DA HOME</h1>


    <main class="home">

        <section class="produtos">

            <div class="produto">
                <a href="#">
                    <div class="imagem-produto">
                        <span>FOTO</span>
                    </div>

                    <div class="informacoes-produto">
                        <p>Nome da roupa</p>
                        <strong>R$ 99,90</strong>
                    </div>
                </a>
            </div>


            <div class="produto">
                <a href="#">
                    <div class="imagem-produto">
                        <span>FOTO</span>
                    </div>

                    <div class="informacoes-produto">
                        <p>Nome da roupa</p>
                        <strong>R$ 129,90</strong>
                    </div>
                </a>
            </div>


            <div class="produto">
                <a href="#">
                    <div class="imagem-produto">
                        <span>FOTO</span>
                    </div>

                    <div class="informacoes-produto">
                        <p>Nome da roupa</p>
                        <strong>R$ 149,90</strong>
                    </div>
                </a>
            </div>


            <div class="produto">
                <a href="#">
                    <div class="imagem-produto">
                        <span>FOTO</span>
                    </div>

                    <div class="informacoes-produto">
                        <p>Nome da roupa</p>
                        <strong>R$ 89,90</strong>
                    </div>
                </a>
            </div>


            <div class="produto">
                <a href="#">
                    <div class="imagem-produto">
                        <span>FOTO</span>
                    </div>

                    <div class="informacoes-produto">
                        <p>Nome da roupa</p>
                        <strong>R$ 119,90</strong>
                    </div>
                </a>
            </div>


            <div class="produto">
                <a href="#">
                    <div class="imagem-produto">
                        <span>FOTO</span>
                    </div>

                    <div class="informacoes-produto">
                        <p>Nome da roupa</p>
                        <strong>R$ 159,90</strong>
                    </div>
                </a>
            </div>


            <div class="produto">
                <a href="#">
                    <div class="imagem-produto">
                        <span>FOTO</span>
                    </div>

                    <div class="informacoes-produto">
                        <p>Nome da roupa</p>
                        <strong>R$ 109,90</strong>
                    </div>
                </a>
            </div>


            <div class="produto">
                <a href="#">
                    <div class="imagem-produto">
                        <span>FOTO</span>
                    </div>

                    <div class="informacoes-produto">
                        <p>Nome da roupa</p>
                        <strong>R$ 139,90</strong>
                    </div>
                </a>
            </div>

        </section>

    </main>

</body>
</html>