{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/produto.css' %}" />
  </head>
    <body>
        {% block content %}
        {% include 'components/navbar.html' %}
        {% endblock content %}

      <section class='main'>
      <div class="image">
        <img src="{{ roupa.imagem }}" alt="{{ roupa.nome }}">
      </div>
    <div class="info">
    <div class="nome">
      {{ roupa.nome }}
    </div>
    <div class="preco">
      {{ roupa.preco }}
    </div>
      <div class="info-square">
      <div class="estoque">Quantidade em estoque: {{roupa.estoque}}</div>
      <div class="tamanho">Tamanho: {{roupa.tamanho}}</div>
      <button class="comprar">Compras</button>
    </div>

    </div>
      </section>
    </body>
</html>
