* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A14545;
    height: 5rem;
    padding: 0 1.5rem 0 0;
}

.search {
    width: wrap-content;
}

.logo img {
    width: 7rem;
    object-fit: cover;
}

.search input {
    padding: 0.4rem;
    background-color: #E6E6E6;
    opacity: 0.7;
    width: 16rem;
}

.link {
    text-decoration: none;
    color: #FFF;
    font-family: "Inria Serif";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main {
    display: flex;
    width: 50rem;
    justify-content: space-between;
    align-items: center;
    margin-left: -6rem;
}

.catalog-logout-button {
    width: wrap-content;
    padding: 0.2rem;
    border: none;
    background: none;
    color: #fefefe;
    font-family: "Inria Serif";
    font-size: 20px;
    cursor: pointer;
}