<article class="item-card">
    <div class="item-imagem">
        <img src="{{ item.imagem }}" alt="{{ item.nome }}">
    </div>

    <div class="item-info">
        <p class="item-descricao">
            {{ item.nome }}
        </p>

        <p class="item-preco">
            {{ item.preco }}
        </p>
        {% if show_actions %}
        <div class="item-acoes">
            <div class="item-quantidade">
                <button type="button" class="btn-qtd">-</button>
                <span class="qtd-valor">1</span>
                <button type="button" class="btn-qtd">+</button>
            </div>

            <button type="button" class="btn-remover">
                <svg class="icon-trash" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <polyline points="3 6 5 6 21 6"></polyline>
                        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                    </svg>
                    <span>Remover Item</span>
            </button>
        </div>
        {% endif %}
    </div>
</article>