{% load static %}

<nav class="navbar">
  <div class="logo">
    <img src="{% static 'images/logo.png' %}" alt="logo" />
  </div>

  <div class="main">
    <div class="search">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input type="search" placeholder="Pesquisar..." />
    </div>
  <div>
    <a class="link" href="{% url 'catalogo' %}">
          Início
        </a>
  </div>

    <div class="login">

      {% if user.is_authenticated %}

        <span class="link">
          Usuário: {{ user.username }}
        </span>

      {% else %}

        <a class="link" href="{% url 'login' %}">
          Faça seu login!
        </a>

      {% endif %}
    </div>
    <div>
    {% if user.is_authenticated %}
      <form
        class="catalog-logout-form"
        action="{% url 'logout' %}"
        method="post">
        {% csrf_token %}
        <button class="catalog-logout-button" type="submit">Sair</button>
      </form>
      {% endif %}
    </div>
  </div>

  <div class="carrinho">
    <a class="link" href="{% url 'carrinho' %}">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </a>
  </div>
</nav>